<h1> Jenkins Job details </h1>
<%= image_tag(@total_job_status_pie_chart) %>
<% Ddash::Application.config.JENKINS_MASTERS.each do |master| %>
  <tr>
    <h2><%= "#{master.split(/:/)[0]}" %></h2>
    </tr>
    <h3> Red Jobs </h3>
    <td><%= @red_jobs.each do |job| %></td>
      <% if master.split(/\//)[0] == job.url.split(/\//)[2] %>
        <td><%=  job.name %></td>
        <BR>
      <% end %>
    <% end %>
    <h3> Blue Jobs </h3>
    <td><%= @blue_jobs.each do |job| %></td>
      <% if master.split(/\//)[0] == job.url.split(/\//)[2] %>
        <td><%=  job.name %></td>
        <BR>
      <% end %>
    <% end %>
<% end %>
