<h1> Jenkins High Level Status</h1>
<%= image_tag(@total_job_status_pie_chart) %>
<%= image_tag(@jobs_by_jenkins_master_chart) %>
<BR>
<%= image_tag(@aborted_jobs_by_jenkins_master_chart) %>
<%= image_tag(@red_jobs_by_jenkins_master_chart) %>
<BR>
<%= image_tag(@blue_jobs_by_jenkins_master_chart) %>

<h3>Create/Add Jenkins Data</h3>
<%= button_to "create", :action => "create" %>
